    * {
        background-color: black;
        margin: 0px;
        padding: 0px;
    }

    .circ {
        z-index: 1;
        background-color: transparent;
        margin-top: s0vh;
        margin-left: 10vw;
        position: absolute;
        width: 105vw;
        height: 85vh;
        pointer-events: none;
    }

    .container {
        height: 100vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
    }


    .counter {
        margin-bottom: 2vh;
        justify-content: center;
    }

    #increment-btn,
    #decrement-btn,
    #reset {
        border: 0 !important;
        height: 50px;
        width: 120px;
        padding: 0 40px;
        border-radius: 10px;
        font-size: 40px;
        color: white;}

    #increment-btn {
        padding: 0px 0px;
        border-radius: 0px;
        font-size:0;
        margin-top: -5vh;
        margin-left: 10vw;
        height: 65vh;
        width: 110vw;
        transition: background-color 0.1s;

    }

    #increment-btn:active {
        background-color: purple;
    }

    #decrement-btn {
        padding: 0px 0px;
        border-radius: 0px;
        margin-left: 10vw;
        height: 50vh;
        width: 110vw;
        transition: background-color 0.1s;
    }

    #decrement-btn:active {
        background-color: red;
    }
    #reset {
        margin-left: 8vw;
        border-radius: 20px;
        border: 5px solid white !important;
        height: 140px;
        width: 900px;
        font-size: 100px;
    }

    #counter-value {
        position: absolute;
        z-index: 2;
        border: 1px solid white;
        height: 1px;
        background-color: transparent;
        border: 0 !important;
        margin-top: 0vh;
        margin-left: 41vw;
        color: white;
    font-family: 'Courier New', Courier, monospace;
        font-size: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
    }
